/*
 * Menu Component Styles
 * --------------------------------------------------
 */
@import '../custom-variables';

//== Styles
//
//

//** Menu

//** MenuToggle
#menu-toggle {
  position: fixed;
  top: 0;
  left: 0;
  width: 72px;
  height: 60px;
  //padding: 18px 0 0 28px;
  z-index: 101;
  border-right: 1px solid $gray-2;
  .mdi-menu {
    text-align: center;
    display: block;
    margin: 19px;
    font-size: 22px;
    color: $gray-5;
  }
  &:hover {
    cursor: pointer;
    background-color: $gray-1;
  }
}
//** MenuPanel
#menu-panel {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 0;
  background-color: $gray-5;
  z-index: 102;
  transition: all 0.2s ease-in;
  #menu-close-wrapper {
    float: right;
    padding: 20px 10px;
    .mdi-menu-close {
      line-height: 0;
      text-align: center;
      font-size: 22px;
      color: $gray-1;
    }
  }
}

#menu-panel.show {
  width: 240px;
}

#menu-overlay {
  background-color: transparent;
  transition: all 0.2s ease-in;
}

#menu-overlay.show {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 101;
}