/*
 * Overview Component Stylesheet
 * --------------------------------------------------
 */
@import '../custom-variables';

#overview {
  #column-left {
    //margin-left: 20px;
    width: 30%;
    float: left;
  }

  #column-right {
    width: 70%;
    float: left;
    padding-left: 32px;
  }

  //== Primary
  //
  //## Styles for the Primary widget

  //== Graph
  //
  //## Styles for the Graph widget

  .graph {
    float: left;
  }

  #graph1 {
    .chart-container > div {
      height: 50vh;
      width: 100%;
    }
  }
  #graph2 {
    .chart-container > div {
      height: 15vh;
      width: 100%;
    }
  }
} //** END #overview

