/*
 * StatusBar Component Styles
 * --------------------------------------------------
 */
@import '../custom-variables';

//== Styles
//
//

#status-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  box-shadow: 0 1px 0 $gray-2;
  overflow: auto;
  background-color: white;
  z-index: 100;
}

#status-title {
  padding: 0 0 0 36px;
  display: inline-block;
  line-height: 60px;
  h1 {
    font-size: $font-size-base;
  }
}

#status-info {
  display: inline-block;
  float: right;
  border-left: 1px solid $gray-2;
  border-right: 1px solid $gray-2;
  height: 60px;
  .info-item {
    text-align: center;
    //line-height: 1.3em;
    width: 100px;
    border-left: 1px solid $gray-1;
    padding: 4px 10px;
    display: inline-block;
    font-weight: $fw-bold;
    margin-top: 8px;
    .info-label {
      font-weight: $fw-medium;
      font-size: 10px;
      text-transform: uppercase;
      color: $gray-5;
    }
    .data {
      font-size: $font-size-base;
    }
  }
  .info-item:first-of-type {
    border-left: 0;
  }
}

#notification-center {
  display: inline-block;
  float: right;
  width: 72px;
  height: 60px;
  .notification-circle {
    margin: 8px auto;
    text-align: center;
    .mdi-notification {
      margin: 4px auto;
      font-size: 22px;
    }
  }
  .number-label {
    margin: -6px auto;
    font-weight: $fw-medium;
    font-size: 10px;
    text-transform: uppercase;
    color: $gray-5;
  }

  &:hover {
    cursor: pointer;
    background-color: $gray-1;
  }
}

#notification-panel {
  position: fixed;
  top: 75px;
  right: 0;
  background-color: $gray-0;
  margin-right: 15px;
  box-shadow: -3px 3px 9px $gray-1;
  //width: 260px;
  ul {
    padding: 0;
    list-style: none;
    li a {
      display: block;
      //margin: 0 auto;
      padding: 14px;
      width: 300px;
      background-color: $gray-0;
      border-bottom: 1px solid $gray-1;
      &:hover {
        background-color: $gray-1;
        cursor: pointer;
      }
    }
  }

  a.see-all {
    display: block;
    margin: 0 auto 10px;
    color: $gray-3;
    font-size: 12px;
    text-align: center;
  }

  .panel-arrow {
    position: relative;
    top: -10px;
    right: -269px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid $gray-0;
  }
}