// Override Citrus variables here:
//

//
// Variables
// --------------------------------------------------


//== Colors
//
//## Main colors, notification colors, and grays for use across Bootstrap.

$brand-primary:         #222222;
$brand-secondary:       #FFCC00;
$brand-gray:            #5F5F5F;
$brand-gray-light:      #95989A;
$brand-gray-lighter:    #D0D0D0;

$gray-base:             #000;
$gray-darker:           lighten($gray-base, 13.5%); // #222
$gray-dark:             lighten($gray-base, 20%);   // #333
$gray:                  lighten($gray-base, 33.5%); // #555
$gray-light:            lighten($gray-base, 46.7%); // #777
$gray-lighter:          lighten($gray-base, 93.5%); // #eee
$gray-0:                #F5F5F5;
$gray-1:                #EAEAEA;
$gray-2:                #D6D6D6;
$gray-3:                #B7B7B7;
$gray-4:                #9F9F9F;
$gray-5:                #717171;


$brand-success:         #5CB85C;
$brand-info:            #5BC0DE;
$brand-warning:         #F0AD4E;
$brand-danger:          #D9534F;


//== Scaffolding
//
//## Settings for some of the most global styles.

//** Background color for `<body>`.
$body-bg:               #FFF;
//** Global text color on `<body>`.
$text-color:            $brand-primary;

//** Global textual link color.
$link-color:            $brand-primary;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%);
//** Link hover decoration.
$link-hover-decoration: underline;


//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900');
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Light.ttf') format('truetype')
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-LightItalic.ttf') format('truetype')
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBold.ttf') format('truetype')
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-SemiBoldItalic.ttf') format('truetype')
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf') format('truetype')
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-BoldItalic.ttf') format('truetype')
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-Black.ttf') format('truetype')
}
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/Source_Sans_Pro/SourceSansPro-BlackItalic.ttf') format('truetype')
}

$font-family-sans-serif:  "Source Sans Pro", "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif:       Georgia, "Times New Roman", Times, serif;
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace:   Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base:        $font-family-sans-serif;

$font-size-base:          16px;
$font-size-exlarge:       32px;
$font-size-large:         22px;
$font-size-medium:        18px;
$font-size-small:         14px;
$font-size-exsmall:       12px;

//** Font weights
$fw-light:               300;
$fw-normal:               400;
$fw-medium:               600;
$fw-bold:                 700;
$fw-black:                900;

$font-size-h1:            40px;
$font-size-h2:            32px;
$font-size-h3:            24px;
$font-size-h4:            18px;
$font-size-h5:            $font-size-base;
$font-size-h6:            12px;

//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    floor(($font-size-base * $line-height-base)); // ~20px

//** By default, this inherits from the `<body>`.
$headings-font-family:    inherit;
$headings-font-weight:    700;
$headings-line-height:    1.1;
$headings-color:          inherit;


//== Components
//
//## Define common padding and border radius sizes and more. Values based on 14px text and 1.428 line-height (~20px to start).

$padding-base-vertical:     6px;
$padding-base-horizontal:   12px;

$padding-large-vertical:    10px;
$padding-large-horizontal:  16px;

$padding-small-vertical:    5px;
$padding-small-horizontal:  10px;

$padding-xs-vertical:       1px;
$padding-xs-horizontal:     5px;

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$border-radius-base: 4px;


//== Media queries breakpoints
//
//## Define the breakpoints at which your layout will change, adapting to different screen sizes.
// link: https://medium.com/@uiuxlab/the-most-used-responsive-breakpoints-in-2017-of-mine-9588e9bd3a8a


// Extra small screen
//** Deprecated `$screen-xs` as of v3.0.1
$screen-xs:                  480px;
//** Deprecated `$screen-xs-min` as of v3.2.0
$screen-xs-min:              $screen-xs;
//** Deprecated `$screen-phone` as of v3.0.1
$screen-phone:               $screen-xs-min;

// Small screen
//** Deprecated `$screen-sm` as of v3.0.1
$screen-sm:                  736px;
$screen-sm-min:              $screen-sm;
//** Deprecated `$screen-tablet` as of v3.0.1
$screen-tablet:              $screen-sm-min;

// Medium screen
//** Deprecated `$screen-md` as of v3.0.1
$screen-md:                  980px;
$screen-md-min:              $screen-md;
//** Deprecated `$screen-desktop` as of v3.0.1
$screen-desktop:             $screen-md-min;

// Large screen
//** Deprecated `$screen-lg` as of v3.0.1
$screen-lg:                  1280px;
$screen-lg-min:              $screen-lg;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-lg-desktop:          $screen-lg-min;

// Extra Large screen
//** Deprecated `$screen-lg` as of v3.0.1
$screen-xl:                  1690px;
$screen-xl-min:              $screen-xl;
//** Deprecated `$screen-lg-desktop` as of v3.0.1
$screen-xl-desktop:          $screen-xl-min;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm-min - 1);
$screen-sm-max:              ($screen-md-min - 1);
$screen-md-max:              ($screen-lg-min - 1);
$screen-lg-max:              ($screen-xl-min - 1);


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns:              12;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px;
// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     $screen-sm-min;
//** Point at which the navbar begins collapsing.
$grid-float-breakpoint-max: ($grid-float-breakpoint - 1);


//== Container sizes
//
//## Define the maximum width of `.container` for different screen sizes.

// Small screen / tablet
$container-tablet:             (720px + $grid-gutter-width);
//** For `$screen-sm-min` and up.
$container-sm:                 $container-tablet;

// Medium screen / desktop
$container-desktop:            (940px + $grid-gutter-width);
//** For `$screen-md-min` and up.
$container-md:                 $container-desktop;

// Large screen / wide desktop
$container-large-desktop:      (1140px + $grid-gutter-width);
//** For `$screen-lg-min` and up.
$container-lg:                 $container-large-desktop;


//== Type
//
//##

//** Horizontal offset for forms and lists.
$component-offset-horizontal: 180px;
//** Width of horizontal description list titles
$dl-horizontal-offset:        $component-offset-horizontal;
//** Point at which .dl-horizontal becomes horizontal
$dl-horizontal-breakpoint:    $grid-float-breakpoint;

//** Headings small color
$headings-small-color:        $gray-light;
//** Horizontal line color.
$hr-border:                   $gray-lighter;
