@import 'custom-variables';
.view {
  padding: 90px 0 0;
}

//== Widget
//
//## General styles for widget

.widget {
  display: block;
  width: 100%;
  margin: 0 0 32px;
  //border: 1px solid rgba(0, 0, 0, 0.02);
  //border: 3px solid #EFEFEF;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  overflow: auto;
  clear: both;
  background-color: #FFF;
}

.value {
  font-size: 36px;
  font-weight: $fw-bold;
  span {
    font-size: $font-size-large;
    font-weight: $fw-normal;
  }
}

//** The sub component of a widget
.sub {
  border-bottom: 1px solid $gray-1;
  clear: both;
  overflow: auto;
  padding: 14px 20px;
}
.sub:last-child, .sub-inline-50:last-child, .sub-inline-33:last-child {
  border: 0;
}

//** Sub component of a widget that's 3-across
.sub-inline-33 {
  text-align: center;
  width: 33.33%;
  float: left;
  padding: 14px 20px;
  border-right: 1px solid $gray-1;
  .value {
    font-size: $font-size-large;
    font-weight: $fw-bold;
    padding-top: 20px;
    line-height: 1;
    span {
      font-size: $font-size-base;
      font-weight: $fw-normal;
    }
  }
}

.sub-inline-50 {
  text-align: left;
  width: 50%;
  float: left;
  padding: 14px 20px;
  border-right: 1px solid $gray-1;
  .value {
    display: inline-block;
    font-size: $font-size-large;
    font-weight: $fw-bold;
    padding-top: 20px;
    line-height: 1;
    span {
      font-size: $font-size-base;
      font-weight: $fw-normal;
    }
  }
}

.sub-inline-60 {
  text-align: left;
  width: 60%;
  float: left;
  padding: 14px 20px;
  border-right: 1px solid $gray-1;
  .value {
    display: inline-block;
    font-size: 36px;
    font-weight: $fw-bold;
    padding-top: 20px;
    line-height: 1;
    span {
      font-size: $font-size-large;
      font-weight: $fw-normal;
    }
  }
}
.sub-inline-40 {
  text-align: left;
  width: 40%;
  float: left;
  padding: 14px 20px;
  //border-left: 1px solid $gray-1;
  .value {
    display: inline-block;
    font-size: 36px;
    font-weight: $fw-bold;
    padding-top: 20px;
    line-height: 1;
    span {
      font-size: $font-size-large;
      font-weight: $fw-normal;
    }
  }
}

//** Helper style for sub components of a widget
.cluster {
  padding: 0;
  display: flex;
}

//** Widget header
h2 {
   font-family: $font-family-monospace;
   font-weight: $fw-bold;
   text-transform: uppercase;
   font-size: $font-size-base;
   color: $gray-5;
   letter-spacing: 3px;
   margin: 6px 0 0;
 }

//** Widget header for an inline sub cluster
h3 {
  font-family: $font-family-monospace;
  font-weight: $fw-bold;
  text-transform: uppercase;
  font-size: $font-size-small;
  color: $gray-5;
  letter-spacing: 2px;
  margin: 0;
}

//== Misc
//
//## Various utility styles

.material-icons {
  user-select: none;
}

.content-wrapper {
  width: 94%;
  margin: 0 auto;
  clear: both;
  overflow: visible;
}


#soc {
  clear: both;
  .soc-icon {
    display: inline-block;
    width: 24px;
    padding-top: 20px;
  }
  .value {
    float: left;
    display: inline-block;
    //margin-top: 4px;
    font-size: 24px;
    font-weight: $fw-bold;
    span {
      font-size: 22px;
      font-weight: $fw-normal;
      margin-left: -2px;
    }
  }
}